.navbar.navbar-default(role='navigation')
  .container#navigation
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      //.navbar-brand(style='display: none')

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav
        //li: a(href='/#/') About
        li: a(href='' ng-click='scroll("content3")') Skills
        li: a(href='' ng-click='scroll("content2")') Projects
        li: a(href='assets/JuanJobRodriguezCV_02.pdf') Résumé

        //li: a(href='http://jjsub.github.io/flappy/' target='_blank') Games

        
        
        