html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*----------------------------------------
TAG BOOTSTRAP OVERRIDES
------------------------------------------*/
.navbar,
.navbar-defoult {
  margin: 0;
}
.container-fluid {
  height: 100%;
  padding: 0;
}
#content1 {
  height: 100%;
  background-image: url('assets/china1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.name p {
  font-size: 3em;
  color: white;
}
.name {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}
#content2 {
  padding: 20px;
  background-image: url('assets/background.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
.photo {
  border: 1px solid black;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.description {
  border: 1px solid white;
  height: 200px;
  font-size: 20px;
  padding: 10px;
  text-align: left;
  color: white;
}
