@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*----------------------------------------
TAG BOOTSTRAP OVERRIDES
------------------------------------------*/
.navbar,
.navbar-defoult {
  height: auto;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: white;
  border: 0px;
  border-bottom: 1px solid;
  border-top: 1px solid gray;
  border-bottom-color: gray;
  text-align: center;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar.navbar-default {
  text-align: center;
  float: left;
}
.navbar {
  border-radius: 0px;
  text-align: center;
}
ul.nav.navbar-nav a,
.navbar-brand {
  color: gray;
  font-size: 30px;
  text-align: center;
}
.container-fluid {
  height: 100%;
  padding: 0px 0px 0px 0px;
}
#content1 {
  height: 80%;
  background-image: url('assets/blackSky.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
}
.name {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}
p#left {
  text-align: left;
  margin: 0% 0% 0% 15%;
  color: white;
  font-size: 2.5em;
}
P#right {
  text-align: right;
  margin: 0px 100px 0px 0px;
  color: white;
  font-size: 2.5em;
}
.name p {
  font-size: 3em;
  color: white;
  text-align: center;
}
#content2 {
  padding: 20px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
.projects {
  font-size: 2em;
  color: gray;
  width: 100%;
  height: 80px;
  margin-top: 5px;
  text-align: center;
  padding: 30px 0px 100px 0px;
  font-weight: bold;
}
.photo {
  border: 1px solid gray;
  height: 220px;
  width: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.margin-left {
  margin-left: 20px;
}
.description {
  border: 1px solid white;
  height: 100px;
  font-size: 20px;
  padding: 10px;
  text-align: left;
  color: white;
  margin: auto;
}
#content3 {
  padding: 0px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
.skills {
  font-size: 2em;
  color: gray;
  width: 100%;
  height: 20%;
  text-align: center;
  padding: 45px 0px 20px 0px;
  margin: 0px;
  font-weight: bold;
}
.skills-details {
  background-color: white;
}
.icons {
  width: 50px;
  margin: 0px auto;
  border-radius: 100%;
}
.center {
  font-family: 'Roboto Slab';
  text-align: center;
  font-size: 1.4em;
  color: white;
}
.increaseLine {
  line-height: 40px;
  text-align: center;
  font-size: 17px;
}
.imgContainer {
  height: 50px;
}
#footer {
  height: 20px;
}
.footerText {
  text-align: center;
}
.footerText a {
  margin-right: 20px;
}
.footerText p {
  margin-top: 10px;
}
