#content1
  .row
    .col-xs-12
      .name 
        p Juan


#content2
  .row

    .col-xs-12

      .row
        .col-sm-4 1
          .photo(style="background-image: url('../assets/visaport1.png');")
          .description
            p I love this project
            a(href="http://www.github.com/jjsub/visaport") Github
        .col-sm-4 2
          .photo
          .description
        .col-sm-4 3
          .photo
          .description


      .row
        .col-sm-4 4
          .photo
          .description
        .col-sm-4 5
          .photo
          .description
        .col-sm-4 6
          .photo
          .description




#content3
  .row

    .col-xs-6
    .col-xs-6



#footer
  .row
    .col-xs-4
    .col-xs-4 
     a(href="http://www.github.com/jjsub/visaport"): i.fa.fa-github.fa-3x
     p Copyright Juan Job 2014 
    .col-xs-4
