p {{title}}
p Home


h1 Profile 
p Software developer recently graduated from Nashville Software School 
h1 
p Object Oriented Programming HTML CSS
p - Javascript - Jade - Less
p - Ruby - HAML - Sass
h1 Test Driven Development - ERB - Bootstrap
p - Mocha/Chai/Supertest Version Control with Github - Foundation 
p - RSpec Express/Node.js Databases 
p - Capybara/Poltergeist Ruby on Rails - MongoDB 

h1 Ajax jQuery - SQL