#content1
  .row
    .col-xs-12
      .name 
        p juan job
      p#left web developer
      p#right software ingeneer

//a(href="http://jjsub.github.io/flappy/"): .photo(style="background-image: url('../assets/flappy.png');")



#content3(name='skills')
  .row.skills-details
    .skills
      p Skills

    .row.centerRow
          
          
      .col-xs-12.increaseLine
          p  Javascript | Angular.js | Node.js | MondoDB | Hapi.js | Express.js
          p HTML | Jade | CSS |  Less | Git | Grunt | AWS
          p Python | Java | SQL
          p Vim | Atom | Sublime Text | bracket
          p Adobe Photoshop | Adobe Premier

#content2(name='projects')
  .row
    .col-xs-12
      .projects
        p Projects

      .row.projectWindow
        .col-sm-4
          a.photo(href='http://port.juanjob.info')
            img.photo(src='../assets/visaport1.png')
          .description
            p World visa require.
            a(href="http://www.github.com/jjsub/visaport") Github
           
        
        .col-sm-4
          a.photo(href='http://jjsub.github.io/flappy/')
            img.photo(src='../assets/flappy.png')
          .description
            p Phaser Game
            a.margin-left(href="http://jjsub.github.io/flappy/") Flappy Cupcake
            a(href="http://www.github.com/jjsub/flappy") Github
            
        .col-sm-4
          .photo(style="background-image: url('../assets/hackNashville.jpg');")
          .description
            p Hack Nashville 6
            a.margin-left(href="https://twitter.com/hacknashville/status/531830768646250496") Twitter
            a(href="http://southernalpha.com/went-undercover-hack-nashville-year-ended-winning-team/") Team work to the 300%


      //.row
        //.col-sm-4 3
          //.photo
          //.description
        //.col-sm-4 4
          //.photo
          //.description



                         //FOOTER//

#footer
  .row
    .col-xs-4
    .col-xs-4.footerText 
      a(href="http://www.github.com/jjsub"): i.fa.fa-github.fa-3x
      //a(href="https://medium.com/@JuanJob"): i.fa.fa-wordpress.fa-3x 
      a(href="http://www.linkedin.com/pub/juan-job-rodriguez/80/552/7a3/"): i.fa.fa-linkedin-square.fa-3x


      p Copyright Juan Job 2015 
    .col-xs-4
