#content1
  .row
    .col-sm-1
    .col-sm-10   
      #pic
    .col-sm-1
  .row
    .col-xs-1
    .col-xs-10
      .objective
        h3 Dreamer, traveler and builder - Passionate about mobile and web development 
    .col-xs-1
      

//a(href="http://jjsub.github.io/flappy/"): .photo(style="background-image: url('../assets/flappy.png');")



#content3(name='skills')
  .row.skills-details
    .row
    .col-sm-12.skills
      p Skills

    .row.centerRow
          
          
      .col-sm-12.increaseLine
          p  Javascript | Angular.js | Node.js | MondoDB | Hapi.js | Express.js
          p HTML | Jade | CSS | Less | Git | npm | Bower | Grunt | AWS
          p Python | Java | SQL
          p Vim | Atom | Sublime Text | bracket
          p Adobe Photoshop | Adobe Premier



#content2(name='projects')
  .row
    .col-sm-12
      .projects
        p Projects
       
       //ROW #1 
       
      .row
        .col-sm-1
        .col-sm-5
          .box
            h3 VisaPort
            h5 description.
            h5 note
            #visaport: a(href='http://port.juanjob.info', target='_blank')
            .buttons
              a(href='https://github.com/jjsub/visaport', target='_blank').fa.fa-github.fa.fa-4x
              a(href='http://port.juanjob.info', target='_blank').fa.fa-play-circle-o.fa.fa-4x
        .col-sm-5
          .box
            h3 Hack Danceville
            h5 description
            h5 HackNashville6 Project
            #nash6: a(href='https://github.com/wgaggioli/hackdanceville6')
            .buttonsHN6
              a(href='https://github.com/wgaggioli/hackdanceville6', target='_blank').fa.fa-github.fa.fa-4x
              a(href='', target='_blank').fa.fa-twitter-square.fa.fa-4x
              a(href="http://southernalpha.com/went-undercover-hack-nashville-year-ended-winning-team/", target='_blank').fa.fa-newspaper-o.fa.fa-3x
        .col-sm-1
        
        
        
        // ROW #2 
       
       .row
        .col-sm-1
        .col-sm-5
          .box
            h3 Flappy Cupcake
            h5 description.
            h5 note
            #flappy: a(href='http://juanjob.info/flappy', target='_blank')
              img.imgFlappy(src='assets/flappycup.jpg')
           
            .buttons
              a(href='https://github.com/jjsub/flappy', target='_blank').fa.fa-github.fa.fa-4x
              a(href='http://juanjob.info/flappy', target='_blank').fa.fa-play-circle-o.fa.fa-4x
        .col-sm-5
          .box
            h3 Collectivist
            h6 description
            h5 note
            #collectivist: a(href='http://collectivist.failureengine.com/#/')
              img.imgCollec(src='assets/collectivist.jpg')
            .buttons
              a(href='https://github.com/dsroden/collectivist-app', target='_blank').fa.fa-github.fa.fa-4x
              a(href='http://collectivist.failureengine.com/#/', target='_blank').fa.fa-play-circle-o.fa.fa-4x


        .col-sm-1
      



      //.row
        //.col-sm-4 3
          //.photo
          //.description
        //.col-sm-4 4
          //.photo
          //.description



                         //FOOTER//

#footer
  .row
    .col-xs-4
    .col-xs-4.footerText 
      a(href="http://www.github.com/jjsub"): i.fa.fa-github.fa-4x
      //a(href="https://medium.com/@JuanJob"): i.fa.fa-wordpress.fa-3x 
      a(href="http://www.linkedin.com/pub/juan-job-rodriguez/80/552/7a3/"): i.fa.fa-linkedin-square.fa-4x


      p Copyright Juan Job 2015 
    .col-xs-4
