#content1
  .row
    .col-sm-1
    .col-sm-5
      #pic
    .col-sm-1
      

//a(href="http://jjsub.github.io/flappy/"): .photo(style="background-image: url('../assets/flappy.png');")



#content3(name='skills')
  .row.skills-details
    
    .col-sm-12.skills
      p Skills

    .row.centerRow
          
          
      .col-sm-12.increaseLine
          p  Javascript | Angular.js | Node.js | MondoDB | Hapi.js | Express.js
          p HTML | Jade | CSS |  Less | Git | Grunt | AWS
          p Python | Java | SQL
          p Vim | Atom | Sublime Text | bracket
          p Adobe Photoshop | Adobe Premier

#content2(name='projects')
  .row
    .col-xs-12
      .projects
        p Projects

      .row
        .col-sm-1
        .col-sm-5
          .box
            h3 VisaPort
            h5 description.
            h5 note
            #visaport: a(href='http://port.juanjob.info', target='_blank')
            .buttons
              a(href='https://github.com/jjsub/visaport', target='_blank').fa.fa-github.fa.fa-4x
              a(href='http://port.juanjob.info', target='_blank').fa.fa-play-circle-o.fa.fa-4x
        .col-sm-5
          .box
            h3 Hack Danceville
            h5 description
            h5 1rd place HackNashville6 Project
            #nash6: a(href='https://github.com/wgaggioli/hackdanceville6')
            .buttonsHN6
              a(href='https://github.com/wgaggioli/hackdanceville6', target='_blank').fa.fa-github.fa.fa-4x
              a(href='', target='_blank').fa.fa-twitter-square.fa.fa-4x
              a(href="http://southernalpha.com/went-undercover-hack-nashville-year-ended-winning-team/", target='_blank').fa.fa-newspaper-o.fa.fa-3x
        .col-sm-1
      
      


      //.row
        //.col-sm-4 3
          //.photo
          //.description
        //.col-sm-4 4
          //.photo
          //.description



                         //FOOTER//

#footer
  .row
    .col-xs-4
    .col-xs-4.footerText 
      a(href="http://www.github.com/jjsub"): i.fa.fa-github.fa-4x
      //a(href="https://medium.com/@JuanJob"): i.fa.fa-wordpress.fa-3x 
      a(href="http://www.linkedin.com/pub/juan-job-rodriguez/80/552/7a3/"): i.fa.fa-linkedin-square.fa-4x


      p Copyright Juan Job 2015 
    .col-xs-4
