#content1
  .row
    .col-xs-12
      .name 
        p Juan닌차.oi


#content2
  .row

    .col-xs-12
      .projects
        p Projects 프로젝트들 

      .row
        .col-sm-4 1
          .photo(style="background-image: url('../assets/visaport1.png');")
          .description
            p World visa require.
            a(href="http://www.github.com/jjsub/visaport") Github
        
        .col-sm-4 2
          .photo(style="background-image: url('../assets/flappy.png');")
          .description
            p Phaser Game
            a(href="http://www.github.com/jjsub/flappy") Github
        
        .col-sm-4 3
          .photo
          .description


      .row
        .col-sm-4 4
          .photo
          .description
        .col-sm-4 5
          .photo
          .description
        .col-sm-4 6
          .photo
          .description




#content3
  .row

    .col-xs-6
    .col-xs-6



#footer
  .row
    .col-xs-4
    .col-xs-4 
     a(href="http://www.github.com/jjsub"): i.fa.fa-github.fa-3x
     p Copyright Juan Job 2014 
    .col-xs-4
